.Classroom {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  height: 100vh;
  background: linear-gradient(270deg, #84bcc8 0%, #59bfef 100%);
}

.Classroom h1 {
  color: white;
  text-align: center;
}

.ClassroomWrapper {
  width: 600px;
}
