.ClassroomList {
  display: flex;
  justify-content: center;
  padding-top: 6vh;
  flex-grow: 2;
  height: 100vh;
  background: linear-gradient(270deg, #84bcc8 0%, #59bfef 100%);
}

.ClassroomList h1 {
  color: white;
  text-align: center;
}

.ClassroomListWrapper {
  width: 600px;
}
